SERIAL_PORT=COM3
SERIAL_BAUD=115200

SEDE_ID=central
SEDE_NOMBRE=Sede Central

PORT=3001
HOST=localhost

DB_PATH=./data/sede_central.db

JWT_SECRET=cambia_esto_en_produccion_usa_openssl_rand_hex_32
JWT_EXPIRES_IN=8h

SEDE2_URL=http://localhost:3002
SEDE3_URL=http://localhost:3003

NODE_ENV=development
SIMULATE=false
SIMULATE_NODOS=3
